body {
    background-color: #121212;
}

#logo {
    position: fixed;
    top: -90px;
    left: -40px;
    width: 250px;
    padding: 15px;
    z-index: 1000;
}

header {
    background: linear-gradient(to top, #121212, #333333, #333333);
    height: 110px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
}